<div class="container">
  <h1 class="bg-dark text-center text-white my-4 p-3">Student Info</h1>

  <div class="row">
    <div class="col-md-6">
      <app-stdform (stdData)="getStdData($event)"></app-stdform>
    </div>
    <div class="col-md-6">
      <app-stdtable [getStdArr]="studentArr"></app-stdtable>
    </div>
  </div>
  <h1 class="bg-dark text-center text-white my-2 p-3">Product Info</h1>

  <div class="row">

    <div class="col-md-6 my-3"  *ngFor="let productcard of productArr">

      <app-product (sendProductData)="getProductData($event)" [getproductArr]="productArr"></app-product>
    </div>
    <div class="col-md-6 my-3">

      <app-productcat [getproductArr]="productArray"></app-productcat>
    </div>
  </div>
</div>