<table class="table table-bordered">
    <thead>
        <tr>
            <th>Sr No</th>
            <th>First Name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Contact</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let std of getStdArr; index as i">
            <td>{{i+1}}</td>
            <td>{{std.fname}}</td>
            <td>{{std.lname}}</td>
            <td>{{std.email}}</td>
            <td>{{std.contact}}</td>
        </tr>
    </tbody>
</table>
